<h1>My Characters</h1>

{% if characters%}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Player</th>
				<th>Class</th>
				<th>Subclass</th>
				<th>Race</th>
				<th>Level</th>
				<th>Background</th>
				<th>Alignment</th>
				<th>XP</th>
				<th>STR</th>
				<th>DEX</th>
				<th>CON</th>
				<th>INT</th>
				<th>WIS</th>
				<th>CHA</th>
				<th>AC</th>
				<th>Initiative</th>
				<th>Speed</th>
				<th>HP</th>
				<th>Temp HP</th>
				<th>Hit Dice</th>
				<th>Death Saves (S/F)</th>
				<th>Inspiration</th>
				<th>Languages</th>
			</tr>
		</thead>
		<tbody>
			{% for c in characters %}
				<tr>
					<td>{{ c.character_name }}</td>
					<td>{% if c.user.username %}{{ c.user.username }}{% else %}{{ c.user }}{% endif %}</td>
					<td>{% if c.get_character_class_display %}{{ c.get_character_class_display }}{% else %}{{ c.character_class }}{% endif %}</td>
					<td>{% if c.subclass.name %}{{ c.subclass.name }}{% else %}{{ c.subclass }}{% endif %}</td>
					<td>{% if c.get_race_display %}{{ c.get_race_display }}{% else %}{{ c.race }}{% endif %}</td>
					<td>{{ c.level }}</td>
					<td>{% if c.get_background_display %}{{ c.get_background_display }}{% else %}{{ c.background }}{% endif %}</td>
					<td>{% if c.get_alligment_display %}{{ c.get_alligment_display }}{% else %}{{ c.alligment }}{% endif %}</td>
					<td>{{ c.experience_points }}</td>
					<td>{{ c.strength }}</td>
					<td>{{ c.dexterity }}</td>
					<td>{{ c.constitution }}</td>
					<td>{{ c.intelligence }}</td>
					<td>{{ c.wisdom }}</td>
					<td>{{ c.charisma }}</td>
					<td>{{ c.armor_class }}</td>
					<td>{{ c.initiative }}</td>
					<td>{{ c.speed }}</td>
					<td>{{ c.hit_points }}</td>
					<td>{{ c.temporary_hit_points }}</td>
					<td>{{ c.hit_dice }}</td>
					<td>{{ c.death_saves_success }} / {{ c.death_saves_failure }}</td>
					<td>{% if c.inspiration %}Yes{% else %}No{% endif %}</td>
					<td>
						{% for lang in c.languages.all %}
							{{ lang.name }}{% if not forloop.last %}, {% endif %}
						{% empty %}
							-
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No characters found.</p>
{% endif %}