{% extends "base.html" %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    <p>{{ request.user}}</p>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>

<h1>My Characters</h1>

<a href="{% url 'character-create' %}">Create New Character</a>

<form method="GET">
    <input type="text" name="search" placeholder="Search characters..." value="{{search_input}}">
    <button type="submit">Search</button>
</form>

{% if characters %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Race & Class</th>
                <th>Level</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in characters %}
                <tr>
                    <td><a href="{% url 'character' c.pk %}">{{ c.character_name }}</a></td>
                    <td>
                      <img class="character-list-table-image-small"
                           src="{% static 'pictures/races/' %}{{ c.race | lower }}.jpg"
                           alt="" />
                      <img class="character-list-table-image-small"
                           src="{% static 'pictures/classes/' %}{{ c.character_class | lower }}.jpg"
                           alt="" />

                      {{ c.race }}
                      {{ c.character_class }}
                    </td>
                    <td> &nbsp; {{ c.level }}</td>
                    <td><a href="{% url 'character-update' c.pk %}">Edit</a> | <a href="{% url 'character-delete' c.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No characters found.</p>
{% endif %}

{% endblock %}
